{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block nav %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/static/cu-logo.webp" alt="" width="30" height="24" class="d-inline-block align-text-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/dashboards" target="_blank">Grafana</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Actions
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href={{ url_for('add_device') }} >Add New Device</a></li>
            <li><a class="dropdown-item" href={{ url_for('golden_config') }} >Save New Golden Config</a></li>
            <li><a class="dropdown-item" href={{ url_for('config_push') }} >Push Config</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{ url_for('tools') }} >Tools</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    
{% endblock %}

{% block header %}

<style>
  /* Basic reset */
  body {
      margin: 0;
      font-family: Arial, sans-serif;
  }

  /* Content area styles */
  .content {
      background-image: url('/static/bg-image.jpg'); /* Background image */
      background-size: cover; /* Cover the entire area */
      background-repeat: no-repeat; /* Prevent repeating */
      background-position: center; /* Center the image */
      height: 94vh; /* Full viewport height */
      display: flex; /* Flexbox for centering */
      align-items: center; /* Center vertically */
      justify-content: center; /* Center horizontally */
      color: white; /* Text color for content */
      text-align: center; /* Center align the text */
  }
</style>

{% endblock %}

{% block content %}

<div class="content">
  <!-- <h1>Welcome to My Website</h1>
  <p>Enjoy browsing through our content!</p> -->
</div>

{% endblock %}



